<div class="taskboard container-fluid">

    <!-- filter bar -->
    <section id="filterbar" class="row">
        <div filterbar ></div>
    </section>

    <!-- tasklanes section -->
    <section class="row" >

        <!-- lane #1 -->
        <div lane *ngFor="let lane of lanes" [lane]="lane" ></div>
        <!-- lane #1 -->


        <!--&lt;!&ndash; lane #2 &ndash;&gt;-->
        <!--<div class="tasklane col-lg-2 col-md-3 col-sm-4 col-xs-6">-->
            <!--<div class="panel panel-default">-->
                <!--<header class="panel-heading ">-->
                    <!--<h5>{{ general_config.NEXT_FOLDER.Title  }}-->
                        <!--<span class="pull-right">-->
                                <!--<button ng-if="( general_config.NEXT_FOLDER.Limit == 0 || nextTasks.length < general_config.NEXT_FOLDER.Limit )" class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('next');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>-->
                                <!--<span class="label label-info">{{ nextTasks.length }}</span> <span ng-if="( general_config.NEXT_FOLDER.Limit > 0 )" class="label label-primary">{{ general_config.NEXT_FOLDER.Limit }}</span>-->
                            <!--</span>-->
                    <!--</h5>-->
                <!--</header>-->
                <!--<ul id="nextList" ui-sortable="sortableOptions" ng-model="nextTasks" class="panel-body tasklist list-unstyled">-->
                    <!--<li ng-repeat="task in nextTasks | filter:search" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }" ng-dblclick="editTask(task)">-->
                        <!--<header class="panel-heading">-->
                            <!--{{ task.subject }}-->
                            <!--<span ng-show="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">(Due: {{ task.duedate | date:'dd/MM/yy' }}) </span>-->
                        <!--</header>-->
                        <!--<div class="panel-body"> {{ task.notes }} </div>-->
                        <!--<footer class="text-right">-->
                            <!--<div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }}</div>-->
                            <!--<span class="btn-group btn-group-xs">-->
                                    <!--<button class="btn btn-default btn-xs" aria-label="Edit" type="button" ng-click="editTask(task)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>-->
                                    <!--<button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,nextTasks)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>-->
                                    <!--<button ng-if="(task.oneNoteURL != '')"  class="btn btn-default btn-xs" aria-label="OneNote" type="button" ng-click="openOneNoteURL(task.oneNoteURL)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>-->
                                <!--</span>-->
                        <!--</footer>-->

                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div> &lt;!&ndash; lane #2 &ndash;&gt;-->

        <!--&lt;!&ndash; lane #3 &ndash;&gt;-->
        <!--<div class="tasklane col-lg-2 col-md-3 col-sm-4 col-xs-6">-->
            <!--<div class="panel panel-default">-->
                <!--<header class="panel-heading">-->
                    <!--<h5>{{ general_config.INPROGRESS_FOLDER.Title }}-->
                        <!--<span class="pull-right">-->
                                <!--<button ng-if="( general_config.INPROGRESS_FOLDER.Limit == 0 || inprogressTasks.length < general_config.INPROGRESS_FOLDER.Limit )" class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('inprogress');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>-->
                                <!--<span class="label label-info">{{ inprogressTasks.length }}</span> <span ng-if="( general_config.INPROGRESS_FOLDER.Limit > 0 )" class="label label-primary">{{ general_config.INPROGRESS_FOLDER.Limit }}</span>-->
                            <!--</span>-->
                    <!--</h5>-->
                <!--</header>-->
                <!--<ul id="inprogressList" ui-sortable="sortableOptions" ng-model="inprogressTasks" class="panel-body tasklist list-unstyled">-->
                    <!--<li ng-repeat="task in inprogressTasks | filter:search" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }" ng-dblclick="editTask(task)">-->
                        <!--<header class="panel-heading">-->
                            <!--{{ task.subject }}-->
                            <!--<span ng-show="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">(Due: {{ task.duedate | date:'dd/MM/yy' }}) </span>-->
                        <!--</header>-->
                        <!--<div class="panel-body"> {{ task.notes }} </div>-->
                        <!--<footer class="text-right">-->
                            <!--<div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }}</div>-->
                            <!--<span class="btn-group btn-group-xs">-->
                                    <!--<button class="btn btn-default btn-xs" aria-label="Edit" type="button" ng-click="editTask(task)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>-->
                                    <!--<button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,inprogressTasks)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>-->
                                    <!--<button ng-if="(task.oneNoteURL != '')"  class="btn btn-default btn-xs" aria-label="OneNote" type="button" ng-click="openOneNoteURL(task.oneNoteURL)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>-->
                                <!--</span>-->
                        <!--</footer>-->

                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div> &lt;!&ndash; lane #3 &ndash;&gt;-->

        <!--<div class="clearfix visible-sm-block"></div>-->

        <!--&lt;!&ndash; lane #4 &ndash;&gt;-->
        <!--<div class="tasklane col-lg-2 col-md-3 col-sm-4 col-xs-6">-->
            <!--<div class="panel panel-default">-->
                <!--<header class="panel-heading">-->
                    <!--<h5>{{ general_config.FOCUS_FOLDER.Title  }}-->
                        <!--<span class="pull-right">-->
                                <!--<button ng-if="( general_config.FOCUS_FOLDER.Limit == 0 || focusTasks.length < general_config.FOCUS_FOLDER.Limit )" class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('focus');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>-->
                                <!--<span class="label label-info">{{ focusTasks.length }}</span> <span ng-if="( general_config.FOCUS_FOLDER.Limit > 0 )" class="label label-primary">{{ general_config.FOCUS_FOLDER.Limit }}</span>-->
                            <!--</span>-->
                    <!--</h5>-->
                <!--</header>-->
                <!--<ul id="focusList" ui-sortable="sortableOptions" ng-model="focusTasks" class="panel-body tasklist list-unstyled">-->
                    <!--<li ng-repeat="task in focusTasks | filter:search" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }" ng-dblclick="editTask(task)">-->
                        <!--<header class="panel-heading">-->
                            <!--{{ task.subject }}-->
                            <!--<span ng-show="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">(Due: {{ task.duedate | date:'dd/MM/yy' }}) </span>-->
                        <!--</header>-->
                        <!--<div class="panel-body"> {{ task.notes }} </div>-->
                        <!--<footer class="text-right">-->
                            <!--<div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }}</div>-->
                            <!--<span class="btn-group btn-group-xs">-->
                                    <!--<button class="btn btn-default btn-xs" aria-label="Edit" type="button" ng-click="editTask(task)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>-->
                                    <!--<button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,focusTasks)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>-->
                                    <!--<button ng-if="(task.oneNoteURL != '')"  class="btn btn-default btn-xs" aria-label="OneNote" type="button" ng-click="openOneNoteURL(task.oneNoteURL)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>-->
                                <!--</span>-->
                        <!--</footer>-->

                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div> &lt;!&ndash; lane #4 &ndash;&gt;-->

        <!--&lt;!&ndash; lane #5 &ndash;&gt;-->
        <!--<div class="tasklane col-lg-2 col-md-3 col-sm-4 col-xs-6">-->
            <!--<div class="panel panel-default">-->
                <!--<header class="panel-heading">-->
                    <!--<h5>{{ general_config.WAITING_FOLDER.Title }}-->
                        <!--<span class="pull-right">-->
                                <!--<button ng-if="( general_config.WAITING_FOLDER.Limit == 0 || waitingTasks.length < general_config.WAITING_FOLDER.Limit )" class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('waiting');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>-->
                                <!--<span class="label label-info">{{ waitingTasks.length }}</span> <span ng-if="( general_config.WAITING_FOLDER.Limit > 0 )" class="label label-primary">{{ general_config.WAITING_FOLDER.Limit }}</span>-->
                            <!--</span>-->
                    <!--</h5>-->
                <!--</header>-->
                <!--<ul id="waitingList" ui-sortable="sortableOptions" ng-model="waitingTasks" class="panel-body tasklist list-unstyled">-->
                    <!--<li ng-repeat="task in waitingTasks | filter:search" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }" ng-dblclick="editTask(task)">-->
                        <!--<header class="panel-heading">-->
                            <!--{{ task.subject }}-->
                            <!--<span ng-show="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">(Due: {{ task.duedate | date:'dd/MM/yy' }}) </span>-->
                        <!--</header>-->
                        <!--<div class="panel-body"> {{ task.notes }} </div>-->
                        <!--<footer class="text-right">-->
                            <!--<div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }}</div>-->
                            <!--<span class="btn-group btn-group-xs">-->
                                    <!--<button class="btn btn-default btn-xs" aria-label="Edit" type="button" ng-click="editTask(task)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>-->
                                    <!--<button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,waitingTasks)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>-->
                                    <!--<button ng-if="(task.oneNoteURL != '')"  class="btn btn-default btn-xs" aria-label="OneNote" type="button" ng-click="openOneNoteURL(task.oneNoteURL)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>-->
                                <!--</span>-->
                        <!--</footer>-->

                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div> &lt;!&ndash; lane #5 &ndash;&gt;-->

        <!--&lt;!&ndash; lane #6 &ndash;&gt;-->
        <!--<div class="tasklane col-lg-2 col-md-3 col-sm-4 col-xs-6">-->
            <!--<div class="panel panel-default">-->
                <!--<header class="panel-heading">-->
                    <!--<h5>{{ general_config.COMPLETED_FOLDER.Title }}-->
                        <!--<span class="pull-right">-->
                                <!--<span class="label label-info">{{ completedTasks.length }}</span>-->
                            <!--</span>-->
                    <!--</h5>-->
                <!--</header>-->
                <!--<ul id="completedList" ui-sortable="sortableOptions" ng-model="completedTasks" class="panel-body tasklist list-unstyled">-->
                    <!--<li ng-repeat="task in completedTasks | filter:search" class="task panel task-completed" ng-dblclick="editTask(task)">-->
                        <!--<header class="panel-heading">-->
                            <!--{{ task.subject }}-->
                            <!--<span ng-show="(task.duedate | date:'yyyy' ) != '4501'" class="pull-right">(Due: {{ task.duedate | date:'dd/MM/yy' }}) </span>-->
                        <!--</header>-->
                        <!--<div class="panel-body"> {{ task.notes }} </div>-->
                        <!--<footer class="text-right">-->
                            <!--<div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }}</div>-->
                            <!--<span class="btn-group btn-group-xs">-->
                                    <!--<button class="btn btn-default btn-xs" aria-label="Edit" type="button" ng-click="editTask(task)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>-->
                                    <!--<button class="btn btn-default btn-xs" aria-label="Archive" type="button" ng-click="archiveTask(task,completedTasks)"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></button>-->
                                    <!--<button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,completedTasks)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>-->
                                    <!--<button ng-if="(task.oneNoteURL != '')"  class="btn btn-default btn-xs" aria-label="OneNote" type="button" ng-click="openOneNoteURL(task.oneNoteURL)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>-->
                                <!--</span>-->
                        <!--</footer>-->

                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div> &lt;!&ndash; lane #6 &ndash;&gt;-->

    </section>

</div>