<div class="input-group">
    <div class="input-group-addon"><strong>Outlook Taskboard</strong></div>
    <div class="input-group-addon">
        <button class="btn btn-default btn-xs" aria-label="Refresh" type="button" onclick="window.location.reload();"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
    </div>
    <div *ngIf="(hasSearchTerm())" class="input-group-addon">
        <button class="btn btn-default btn-xs" aria-label="Clear" type="button" (click)="resetSearch()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </div>
    <input type="text" name="search" [(ngModel)]="search" class="form-control" placeholder="Filter" />

    <div class="input-group-addon">
        <button class="btn btn-default btn-xs" aria-label="Report" type="button" (click)="createReport();"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></button>
    </div>
</div>